*{
    margin: 0%;
    padding: 0%;
    font-family: $mainFont; 
}

html{
    font-size: 62.5%;
}


header img{
    width: $w-100;
}

h1{
    font-size: $fontLg;
    color: $mainColor;
    text-decoration: underline;
    font-family: $secondaryFont;
    height: auto;
    text-align: center;
}

h4{
    font-size: $fontsm;
    font-family: $secondaryFont;
    text-decoration: underline;
    color: $mainColor;
}

h2,h3{
    color: $mainColor;
    text-decoration: underline;
    font-family: $secondaryFont;
    height: auto;
    text-align: center;
    margin: 0;
    font-size: $fontLg;
}

.textWhite{
    @include textos($fontHeight, $fontTxt,  rgba(233, 226, 221, 0.8));
    padding: 0 1em 0 1em;
    
}

.menuList{
    background-color: rgb(32, 28, 28);
    
}

.list{
    list-style-type: circle;
    list-style-position: inside;   
    margin-top: 1em;
    height: 100%;
}

.main {
    background-color: $secondaryColor;
    article section p{
    @extend  .textWhite;
    }
}

.flexContainer{
    padding: 5px 10px;
    display: flex;
    background-color: $secondaryColor;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.bord-red{
    border-bottom: $colorBorder;
}

.bord-red-total{   
    border: $colorBorder;
}

.bg-black{
    background-color: $secondaryColor;
}

div .flexContainer{
    border-bottom: $colorBorder;
}

.figureImg{
    width: $w-40;
    padding: 5px 10px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.txtCenter{
    display: flex;
    align-items: center;
}

.rowReverse{
    flex-direction: row-reverse;
}

.tittle{
    display: flex;
    width: $w-100;
    align-items: center;
    margin-bottom: 10px;
    h1, h2{
        width: $w-100;
    }
}

.imgG{
    width: 100%;
    height: 50vh;
}

.imgG2{
    width: 100%;
    height: 50vh;
}

.imgG3{
    width: 100%;
    height: 50vh;
}

.imgG4{
    width: 100%;
    height: auto;
}

#error404{
    background-color: $secondaryColor;
    background-size: cover;
    display: flex;
    img{
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
    }
}

.btn{
            display: inline-block;
            @include dataEntrance(100%, none);
            text-decoration:  none;
            border: 0;
            text-transform: uppercase;
            margin-top: 2em;
            padding: 1em;
            background: map-get($map: $contactColor, $key:'seis' );
                &:hover, &:focus{
                    background: map-get($map: $contactColor, $key: 'cinco');
                    color: map-get($map: $contactColor, $key: 'cuatro');
                    transition: backgraund-color 1s ease-out;
                    outline: 0;
                }
}

//contacto

.logo {
    text-align: center;
    font-size: 3em;
    color: rgba(233, 226, 221, 0.8);
}

.contact-wrapper > *{
    box-shadow: 0 0 20px 0 map-get($map: $contactColor, $key: 'uno' );
    padding: 1em;
    overflow-x: hidden;
}

.contact-form{
    background: map-get($map: $contactColor, $key: 'dos');
    overflow-x: hidden;
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        label{
            display: block;
            color: map-get($map: $contactColor, $key: 'tres' );
            font-size: $fontTxt;
            line-height: $fontHeight;
            font-weight: $textRegular;
            height: 90%;
        }
        p{
            margin: 0;
            padding: 1em;
        }
        .block{
            grid-column: 1 / 3;
        }
        input, textarea{
            @include dataEntrance(100%, none)
        }
        #link404{
            display: inline-block;
            @include dataEntrance(100%, none);
            text-decoration:  none;
            border: 0;
            text-transform: uppercase;
            padding: 1em;
            background: map-get($map: $contactColor, $key:'seis' );
                &:hover, &:focus{
                    background: map-get($map: $contactColor, $key: 'cinco');
                    color: map-get($map: $contactColor, $key: 'cuatro');
                    transition: backgraund-color 1s ease-out;
                    outline: 0;
                }
            }
        }
    }

.contact-info {
    background: map-get($map: $contactColor, $key: 'siete');
    h4,ul,p{
    list-style: none;
    text-align: center;
    margin: 0 0 1rem 0;
    }
}

//termina contacto





//empieza footer
.pie{
    text-align: center;
    background-color: $bgColorPie;
    a img{
        width: 30px;
    }
}
//termina footer